body{
    background-color: rgb(0, 58, 167);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    color: aliceblue;
    margin-left: 20px;
}
p{
    color: aliceblue;
}

li{
    color: aliceblue;
}
